/* Example app */
body {
  overflow: hidden;
  margin: 0;
  color: #ccc;
  background-color: #333;
}

.duo {
  grid-template-areas: "c1" "c2";
}
.trio {
  grid-template-areas: "c1 c2 c3";
}
.square {
  grid-template-areas: "c1 c3" "c2 c4";
}
.quad {
  grid-template-areas: "c1 c3 c2 c4";
}

.block {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 0.3rem;
  border: 1px dashed #ccc;
}

/* #container {
  position: absolute;
  height: 100%;
  width: 100%;
  height: 400px;
  width: 800px;
  overflow: hidden;
  background-color: #000;
}

#container > :first-child {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  margin: auto;
} */
.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

#ruler {
  display: flex;
}
#ruler > * {
  width: 50px;
  border-right: 1px solid #aaa;
  text-align: right;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 800px;
  height: 400px;
  overflow: hidden;
  background-color: #111;
}
#container > :first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  transition: 1s ease;
  transition-property: all;
  transition-duration: 1s;
  /* height: 100px;
  width: 100px; */
}
/* 
#ruler {
  display: flex;
}
#ruler > * {
  width: 50px;
  border-right: 1px solid #aaa;
  text-align: right;
} */
